*{
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--txt);
}
body{
    display: flex;
    justify-content: space-evenly;
}
.picture{
    background-image: url(assets/honza-reznik-lScQonfzQ1s-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width:100vw;
    height: 100vh;
}
.logo{
    height:auto;
    position: relative;
    top:20vw;
    gap:1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
}
.odin{
    height: 15vh;
}

.section{
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: larger;
}
.above{
    display: flex;
    flex-direction: column;
    gap:18px;
}